.comments {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}

.author {
  color: var(--text);
  font-size: 14px;
}

.content {
  color: var(--text);
  font-size: 18px;
}
