.card {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  color: var(--link);
  text-decoration: none;
  font-weight: 500;
  font-size: 28px;
}

.content {
  color: var(--text);
  font-weight: 300;
  font-size: 18px;
}
