:root[data-theme="light"] {
  --background-1: #fff;
  --background-2: #c8d2e6;
  --text: #1a1a1a;
  --link: #007bff;
}

:root[data-theme="dark"] {
  --background-1: #1a1b23;
  --background-2: #484e5c;
  --text: #fff;
  --link: #64acfa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-1);
  margin: 0;
}

p,
h1 {
  margin: 0;
}
