.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  padding: 10px 25px 0px 25px;
  margin-bottom: 20px;
}

.navigate {
  display: flex;
  gap: 20px;
}

.actions {
  display: flex;
  gap: 20px;
}

.link {
  color: var(--text);
  text-decoration: none;
  border: 1px solid var(--text);
  padding: 8px 10px;
  border-radius: 8px;
}

.active {
  background-color: var(--background-2);
}
